body{
    background-image:url(https://previews.123rf.com/images/olgazhurba/olgazhurba1805/olgazhurba180500014/101212078-technology-background-and-abstract-digital-tech-circle-with-various-technological-elements.jpg);
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    overflow-y: auto;
    flex: 2;
}
aside{
    overflow-y: auto;
    flex: 1;
}